{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1>Edit Comment</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}


    {{ form_end(form) }}

    <a href="{{ path('listPost') }}">Back to List</a>
{% endblock %}
