{% extends 'base2.html.twig' %}

{% block title %}GAMI{% endblock %}

{% block body %}
    <div class="container">
    <a href="{{ path('listPostBack') }}" class="btn btn-secondary">List Posts</a>
        <h1>Charts</h1>
        <canvas id="myChart" width="400" height="200"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for post in pagination %}'{{ post.titre }}',{% endfor %}],
                    datasets: [{
                        label: 'Likes',
                        data: [{% for post in pagination %}{{ post.likes }},{% endfor %}],
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }, {
                        label: 'Dislikes',
                        data: [{% for post in pagination %}{{ post.dislikes }},{% endfor %}],
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}
