

{% block title %}Edit Tournois{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">
    <h1>Edit Tournois</h1>

    {{ include('tournois/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tournois_index') }}">back to list</a>

    {{ include('tournois/_delete_form.html.twig') }}
    </div>
    </div>
    </div>
    </div>

{% endblock %}
