
{% block title %}New Tournois{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">
    <h1>Create new Tournois</h1>

    {{ include('tournois/_form.html.twig') }}

    <a href="{{ path('app_tournois_index') }}">back to list</a>
    </div>
</div>
</div> 
</div>
{% endblock %}
