{% extends 'base2.html.twig' %}

{% block title %}GAMI{% endblock %}

{% block body %}
    <div class="container">
        <h1>Category Statistics</h1>
        <canvas id="myChart" width="400" height="200"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for category, count in categoryStats %}'{{ category }}',{% endfor %}],
                    datasets: [{
                        label: 'Category Stats',
                        data: [{% for category, count in categoryStats %}{{ count }},{% endfor %}],
                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 205, 86)'
                            // Add more colors as needed
                        ],
                        hoverOffset: 4
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}