{% extends 'base2.html.twig' %}

{% block title %}New Game{% endblock %} {# Set the title of the page #}

{% block body %}
    <h1>Create new Game</h1> {# Display heading for the form #}

    {{ include('game/_form.html.twig') }} {# Include the form template #}

    
{% endblock %}
