{% extends 'base.html.twig' %}

{% block title game.name %}

{% block body %}
    <article>
        <h1>{{game.name}}</h1>
        <p>{{game.description}}</p>
    </article>
    <iframe src="{{ game.lien }}" frameborder="0" scrolling="yes" width="100%" height="600"></iframe>


    <a href="{{ path('app_front') }}">Go Back</a>
{% endblock %}
