<!--**********************************
            Footer start
        ***********************************-->
<footer>
    <div class="container text-center mt-5">
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; {{'now'|date('Y')}} Built with <span class="text-danger">&hearts;</span> by NALU developers</p>
            </div>
        </div>
    </div>
        <!--**********************************
            Footer end
        ***********************************-->
</footer>